footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  * {
    display: inline-block !important;
    height: auto !important;
  }
}

.cookies {
  position: relative;
  width: 100%;
  float: right;
  white-space: normal;
  overflow: visible;
  line-height: normal;

  span {
    padding: 20px;
    font-size: 12px;
  }
}

.github {
  padding: 20px;
}

.angular {
  padding: 20px 20px 0px 20px;
}
