<h1 role="heading"> Sobre esta aplicación </h1>
<p role="main">
  Hay varias rutas por visitar:
  <mat-list role="list">
    <mat-list-item role="listitem">
      <a mat-stroked-button [routerLink]="'/home'"> /home </a>
      <span> Hogar, dulce hogar </span>
    </mat-list-item>

    <mat-list-item role="listitem">
      <a mat-stroked-button [routerLink]="'/crud'"> /crud </a>
      <span> Crear, leer, actualizar o borrar datos </span>
    </mat-list-item>

    <mat-list-item  role="listitem">
      <a mat-stroked-button [routerLink]="'/bit'"> /bit </a>
      <span> Componente angular basado en Chart.js. <a mat-tab-link href="https://bit.dev/primefaces/primeng/chart">[Fuente]</a></span>
    </mat-list-item>

    <mat-list-item role="listitem">
      <a mat-stroked-button [routerLink]="'/about'"> /about </a>
      <span> Página excepcionalmente informativa </span>
    </mat-list-item>

    <mat-list-item  role="listitem">
      <a mat-stroked-button [routerLink]="'/error'"> /* </a>
      <span> Cualquier otra ruta lleva a la perdición </span>
    </mat-list-item>


  </mat-list>
</p>
